// Правила для ноутбуков и небольших экранов

@media (max-width: 1300px)
 html
  font-size: 9px
 .cards-item
  &__img
   height: 90%
 .footer
  &__img
   height: 90%

@media (max-width: 1100px)
 html
  font-size: 8px
 .cards-item
  &__img
   height: 80%
 .footer
  &__img
   height: 80%

// Правила для планшетов и небольших экранов

@media (max-width: 950px)
 html
  font-size: 7px
 .container
  padding: 2rem
 .cards-item
  &__img
   height: 75%
 .section-learning
  min-height: 65rem
  &__second-ring
   right: -20rem
  &__left-title
    padding-left: 7rem
 .footer
  &__img
   height: 75%

// Правила только для смартфонов

@media (max-width: 780px)
 .nav-menu
  display: none
 .hamburger
  display: flex
 .main-section
  min-height: 50rem
  &__second-ring
   display: none
 .icons
  &__item
   height: 6rem
   width: 6rem
  i
   font-size: 3rem
 .left-wrapper
  &__img
   width: 50rem
 .right-wrapper
  top: 10rem

 .buttons
  &__icon-btn
   display: none
 .section-courses
  &__cards-box
   flex-direction: column
   align-items: center
 .cards-item
  width: 70%
  &__text
   font-size: 4rem
   transform: rotate(0deg)
   width: 47rem
 .icons-item
  justify-content: center
  gap: 0
  img
   display: none
 .section-learning
  min-height: 45rem
  &__left-wrapper
   display: none
  &__right-wrapper
   max-width: 80%
   margin: 0 auto
 .footer
  &__img
   height: 60%
  &__title
   font-size: 5rem
 
// @media (max-width: 580px)

 // html
 //  font-size: 7px
 // .cards-item
 //  &__img
 //   height: 75%
 // .footer
 //  &__img
 //   height: 75%